.header {
	@media (min-width: 769px) {
		display: none;
	}
	&__container {
		background-color: #FFFFFF;
		padding: 18px 16px;
		display: flex;
		justify-content: space-between;
		margin-left: -16px;
		margin-right: -16px;
		@media (min-width: 768px) {
			margin-left: -24px;
			margin-right: -24px;
			padding: 18px 24px;
		}
	}
	&__left,
	&__right {
		display: inline-flex;
		align-items: center;
	}
	&__menu-icon {
		@media (min-width: 768px) {
			position: relative;
			display: flex;
			align-items: center;
			&::after{
				position: absolute;
				content:'';
				width: 2px;
				height: 32px;
				right: 0;
				background-color: #EAEAEA;
				margin-right: -16px;
			}
			margin-right: 32px;
		}
		margin-right: 16px;
	}
	&__logo {
		a {
			display: inline-block;
		}
	}
	&__tools {
		@media (max-width: 768px) {
			&::before{
				content:'';
				width: 2px;
				height: 32px;
				background-color: #EAEAEA;
				border-radius: 1px;
				margin: 0px 16px;
			}
		}
	display: flex;
	align-items: center;
	}
	&__search {
		margin-left: 16px;
	}
	img{
		width: 98px;
		height: 52px;
	}
	&__phone,
	&__message,
	&__profile {
		@media (min-width:768px) {
			display: block;
		}
		display: none;
	}
}

.icon-menu {
		&__button-icon {
				span {
					position: relative;
					left: 27%;
					text-align: center;
					width: 10px;
					height: 2px;
					background-color: #FFFFFF;
					border-radius: 1px;
					&:first-child {
						bottom: 5px;
						width: 18px;
						height: 2px;
					}
					&:last-child {
						top: 5px;
						width: 14px;
						height: 2px;
					}
				}
				&:hover {
					transform: scale(1) !important;
				}
		}
}

.tools,
.search {
		display: flex;
		align-items: center;
}

.tools {
		&__button-icon {
			background-image: url('../img/tools.svg');
		}
}
.search {
		&__button-icon {
			background-image: url('../img/search.svg');
		}
}
.phone {
	&__button-icon {
		background-image: url('../img/phone.svg');
	}
}
.message {
	&__button-icon {
		background-image: url('../img/message.svg');
		margin-left: 16px;
	}
}
.profile {
	&__button-icon {
		background-image: url('../img/profile.svg');
		margin-left: 16px;
	}
}